@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* shared Style */
.display-flex{
  display: flex;
}
.text-gray{
  color: #424242;
  text-decoration: none;
}
.text-light-gray{
  color: #727272;
}
.bg-light{
  background-color: rgba(255, 144, 14, 0.1);
}
.btn-primary{
  background-color: blue;
  color: white;
  padding: 20px 25px;
  font-weight: 600;
  font-size: 1.25rem;
  border-radius: 8px;
  border: none;
}

main{
  max-width: 1440px;
  margin: 0 auto;
}
main section{
  margin-top: 130px;
}
/* header Style */

/* navbar related Style */

.navber{
  justify-content: space-between;
  align-items: center;
}
.brand-name{
  font-weight: 700;
  font-size: 3rem;
}
.nav-list{
  text-decoration: none;
  font-weight: 500;
  flex-direction: row;
  gap: 10px;
}
.nav-item{
 list-style: none;
 margin-right: 10px;
}
.navber,.banner{
  max-width: 1440px;
  margin: 0 auto;
}
/*Banner Related Style*/
.banner-content{
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}
.banner-title{
  font-weight: 700;
  font-size: 4rem;
}
.banner-img{
  width: 100%;
  height: auto;
}
.orenge-text{
  color: #ff900e;
}
/*teams related style*/
.feautres-title{
  font-size: 2.8rem;
  font-weight: 700;
}
#guick-list{
  font-weight: 500;
}
.teams{
  align-items: center;
}
.team-img-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.our-feautures{
  margin-left: 130px;
}
/* responsive Style*/
@media screen and (max-width: 576px){
  .navber, .nav-list{
    flex-direction: row;
  }
}